.svn/entries
.svn/format
.svn/pristine/00/007a6e8104819c25e34287b5e3a8de13099e4717.svn-base
*.svn-base
*.db
*.db-journal
.vs
*.user
*.ipch
*.opendb
*.exe
*.ilk
*.pdb
*.lib
*.aps
*.user
.svn/format
.svn/entries
*.db
*.db-journal
*.svn-base
*.lib
*.exe
*.ilk
*.pdb
*.ipch
*.suo
*.idb
*.log
